@model ViewModelForMedicalHistory

@{
    ViewData["Title"] = "MedicalHistoryTable";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Diagnosis</th>
                <th scope="col">Обновление</th>
                <th scope="col">Удаление</th>
            </tr>
            @{
                foreach (var el in Model.AllMedicalHistories)
                {
                    await Html.RenderPartialAsync("MedicalHistoryTable", el);
                }
            }

        </thead>

    </table>

</div>
