@model ViewModelForMedicalHistory
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "MedicalHistoryTable";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Localizer["Id"]</th>
                <th scope="col">@Localizer["Diagnosis"]</th>
                <th scope="col">@Localizer["Update"]</th>
                <th scope="col">@Localizer["Remove"]</th>
            </tr>
            @{
                foreach (var el in Model.AllMedicalHistories)
                {
                    await Html.RenderPartialAsync("MedicalHistoryTable", el);
                }
            }

        </thead>

    </table>

</div>
