@model ViewModelForDoctor

@{
    ViewData["Title"] = "DoctorTable";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Patronymic</</th>
                <th scope="col">NumberPhone</th>
                <th scope="col">Обновление</th>
                <th scope="col">Удаление</th>
            </tr>
            @{
                foreach (var el in Model.AllDoctors)
                {
                    
                    await Html.RenderPartialAsync("DoctorTable", el);
                }
            }

        </thead>

    </table>

</div>
