@model DoctorDTO

@{
    ViewData["Title"] = "Remove";
}

<h1>Вы дейсвительно хотите удалить запись?</h1>
<form asp-action="Remove" , asp-controller="Doctor" method="post">
    <input type="hidden" asp-route-id="@Model.Id" value="@Model.Id" />
    <a class="btn btn-light" asp-action="GetAllDoctor" asp-controller="Doctor">НЕТ</a>
    <input class="btn btn-light" type="submit" value="ДА" />
</form>
