@model ViewModelForFilter

<div>
    <table class="table">
        <thead>
            @{
                foreach (var el in @Model.Filter)
                {
                    <tr>
                        <td>@el</td>
                    </tr>
                }
            }
        </thead>
    </table>
</div>

