@model ViewModelForCard

@{
    ViewData["Title"] = "BaseTable";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">PatientId</th>
                <th scope="col">DoctorId</th>
                <th scope="col">DiagnosisId</th>
                <th scope="col">DateAdmission</th>
                <th scope="col">Обновление</th>
                <th scope="col">Удаление</th>
            </tr>
            @{
                foreach (var el in Model.AllCard)
                {
                    await Html.RenderPartialAsync("RegistrationCardTable", el);
                }
            }

        </thead>

    </table>
   
</div>
