@model ViewModelForCard

@{
    ViewData["Title"] = "BaseTable";
}

<div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">PatientId</th>
                <th scope="col">DoctorId</th>
                <th scope="col">DiagnosisId</th>
                <th scope="col">DateAdmission</th>
                <th scope="col">Обновление</th>
                <th scope="col">Удаление</th>
            </tr>
        <tbody>
            <tr>
                <td>
                    <select id="select_value" onchange="onSelectRegion()" form="data">
                        @{
                            foreach (var doc in Model.AllDoctor)
                            {
                                await Html.RenderPartialAsync("DoctorTable", doc);
                            }
                        }
                    </select>
                   
                </td>
                @*<td>@Model.DoctorId</td>
                <td>@Model.DiagnosisId</td>
                <td>@Model.DateAdmission</td>*@
                <td><a class="btn btn-primary" asp-action="AddRole" asp-controller="Role">Редактировать</a></td>
                <td><a class="btn btn-danger" asp-action="AddRole" asp-controller="Role">Удалить</a></td>
            </tr>
        </tbody>

        </thead>

    </table>
    
</div>
